<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>payorc</name>
    <displayName><![CDATA[PayOrc]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Collecting payments online from any part of the world using universe of payment Methods and We provide high Conversion, low Drop-Offs, low transaction Cost]]></description>
    <author><![CDATA[PayOrc]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Warning: all the customers cards token and transaction details saved in your database will be deleted. Are you sure you want uninstall this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>